#header-main{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 80vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 1rem;
    z-index: 2;
}

#footer-main{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 80vw;
    text-align: center;
}

.header-link-card{
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000000;
    border-radius: 1rem;

    -webkit-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;

    filter: blur(0.01rem);
    opacity: 0;
}



.header-link{
    display: flex;
    justify-content: center;
    align-items: center;

    width: fit-content;
    min-height: 8rem;

    padding: 1rem;
    border-radius: 1rem;

    color: #ffffff;
    font-size: 4rem;
    font-weight: 900;

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent ;
}

.header-link i{
    font-size: 5rem !important;
}

.header-link:hover i{
    font-size: 6rem !important;
}
