.carrousell-main{
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}

.carrousell-body{
    width: 100vw;
    overflow: hidden;
    height: 100%;
}

.carrousell-telescope{
    height: 100%;
    gap: 5vh;

    overflow: hidden;
    display: inline-flex;
    transition: all ease-in-out 0.5s;

    justify-content: center;
    align-items: center;
}

.carrousell-card{
    border-radius: 0rem;
    display: flex;
    gap: 1rem;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    width: 70vw;

    color: var(--dark-grey);

    height : 50%;
    position: relative;
    opacity: 0;
    font-size: 1.8rem;
}

.card-description{
    transition: hover ease-in-out 0.01s;
    width: 75%;
    align-self: center;
    color: var(--grey);
}

.carrousell-card.active{
    border-radius: 1rem;
    height :90%;

    opacity: 1;

    box-shadow:  0 0 10rem 4rem var(--purpule);
    /* background-color: var(--dark-grey-10); */
}


.carrousell-arrows{
    position: absolute;
    top:0;
    bottom:0;
    margin: auto 0;

    height: fit-content;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;

    padding: 1rem;
    font-size:  3rem;
    font-weight: 900;
    z-index: 1;

    color: var(--dark-bg);
    cursor: pointer;
}

.carrousell-arrows#next{
    right: 6vw;
}

.carrousell-arrows#prev{
    left: 6vw;
}

.card-meta{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto 0;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card-meta div{
    padding: 0.2rem 0.5rem 0;
    border-radius: 0.5rem 0.5rem;
    font-size: 1rem;

    background-color: var(--dark-grey-10);
    color: var(--grey);
}

.card-country, .card-date{
    position: absolute;
    font-weight: 100;
    opacity: 0.8;
    /* min-width: 50%; */
    width: fit-content;
    color: var(--purpule-99);
    font-style: oblique;
}

.card-date{
    bottom: 1rem;
    right: 2rem;
    text-align: right;
    font-size: 2rem;
}

.card-country{
    top: 1rem;
    left: 2rem;
    text-align: left;
    font-size: 3rem;   
}

.carrousell-card:hover{
    color: var(--purpule);
    font-size: 2rem;

}

.carrousell-card:hover {
    height: 80%;
    border-radius: 1rem;

}

.carrousell-card:hover .card-description{
    color: var(--purpule);
}

.carrousell-card:hover .card-date,.carrousell-card:hover .card-country {
    color: var(--dark-grey);
}
