#main{
    background-color: var(--dark-bg);
}

#main-intro{
    color:var(--purpule);
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20vh;
    height: 100vh;
    width: 100vw;
    animation: ease-in-out 0.4s;
    word-break: keep-all;
    background-color: var(--dark-bg);
    -webkit-transition: all ease-in-out 2s;
    transition: all ease-in-out 1s;
}

#main-intro button{
    font-size: 1.5rem;
    font-weight: 800;
    animation: spawn 1s;
    width: 100%;
    margin: 1rem 0;
}


.intro-text{
    width: 70%;
    font-size: 1.2rem;
    color: var(--grey);
    transition: inherit;

}


.intro-text span,
.intro-text a,
.intro-text button{
    -webkit-transition: all ease-in-out 1s;
    transition: all ease-in-out 1s;
    font-weight: 900;
}
.intro-text p{
    font-weight: 600;
    line-height: 2rem;
}

.intro-text #text-box-0{
    font-weight: 900;
}

.intro-text span{
    color: var(--orange);
}

.intro-text a{
    color: var(--blue);
}

.intro-title{
    font-size: 2rem;
    color: var(--purpule);
    -webkit-transition: all ease-in-out 2s;
    transition: all ease-in-out 1s;
}

.intro-text-description p:first-child{
    font-size: 1.5rem;
    color: var(--blue);
    font-weight: 600;
    margin: 1rem 0;
}


